@page "/about"
@attribute [RenderStatic]
@{
    ViewData["Title"] = "About";
}

<div class="sm:px-8 mt-16 sm:mt-32">
    <div class="mx-auto max-w-7xl lg:px-8">
        <div class="relative px-4 sm:px-8 lg:px-12">
            <div class="mx-auto max-w-2xl lg:max-w-5xl">
                <div class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12">
                    <div class="lg:pl-20">
                        <div class="max-w-xs px-2.5 lg:max-w-none">
                            <img alt="" sizes="(min-width: 1024px) 32rem, 20rem" srcset="/img/authors/zjohnson.jpeg" width="800" height="800" decoding="async" data-nimg="1" class="aspect-square rotate-3 rounded-2xl bg-zinc-100 object-cover dark:bg-zinc-800" loading="lazy" style="color: transparent;">
                        </div>
                    </div>
                    <div class="lg:order-first lg:row-span-2">
                        <h1 class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">I'm Zachary Johnson. I'm passionate about technology and helping customers use it to the fullest.</h1>
                        <div class="mt-6 space-y-7 text-zinc-600 dark:text-zinc-400">

<link rel="stylesheet" href="css/typography.css">
<markdown class="prose">
When I was a small child I took everything apart (God forbid anyone left a screwdriver around!) and I've loved learning how things work ever since.

I built my first computer when I was 14 and I'm currently sitting next to my 6th and 7th custom computers, as well as my 4th highly customized OEM machine.  I'm the guy with Epyc/Xeon processors, Optane SSDs/NVDIMMs, and Nvidia Tesla GPUs in my house because...reasons.

In my career I've worked in QA, program management, software development, architecture and (customer-facing) account management roles.  Believe it or not I don't have a favorite; they've all been fabulous learning opportunities that have shaped me both professionally and personally.

I'm here to share with you what I know.
</markdown>

                        </div>
                    </div>
                    <div class="lg:pl-20">
                        @await Html.PartialAsync("FollowLinks")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>